* {
  padding: 0.1px;
}

.content {
  border: 0px solid #FFFFFF;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  overflow-x: auto;
  border: 0px solid #FFFFFF;
  border-radius: 18px;
}


/* TABLE */

.table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: #FFFFFF;
  font-family: monospace;
}


/* HEADER */

.table-container th {
  padding: 10px 10px;
  background-color: #FFFFFF;
  color: #24272B;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}


/* CELLS */

.table-container td {
  padding: 12px 15px;
  font-size: 12px;
  border-bottom: 1px solid #3A3E43;
}


/* HOVER */

.table-container tbody tr {
  transition: 0.2s ease;
}

.table-container tbody tr:hover {
  background-color: #30343A;
}


/* LAST ROW */

.table-container tbody tr:last-child td {
  border-bottom: none;
}


/* SEARCH */

.search-section {
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 0px solid white;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.search-btn {
  background-color: #9C27B0;
  border: none;
  color: #FFFFFF;
  border-radius: 15px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  width: 43%;
  padding: 10px;
}

.search-btn:hover {
  background-color: #AB47BC;
}

.search-txt {
  border: none;
  border-radius: 15px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  width: 40%;
  padding: 10px;
}


/* BODY */

body {
  display: flex;
  align-content: center;
  font-family: monospace;
  flex-direction: column;
  background: #1E2C3C;
  justify-content: center;
}


/* HEADER */

header {
  margin-bottom: 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.bar {
  width: 75%;
  display: flex;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
}

nav ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-direction: row;
  align-items: center;
}

nav li {
  list-style: none;
}


/* CONTENT */

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/* FORM */

.form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 350px;
  height: 500px;
  border: 0.2px #FFFFFF solid;
  border-radius: 25px;
}

input {
  border: none;
  border-radius: 15px;
  font-size: 15px;
  margin: 8px;
  text-align: center;
  width: 85%;
  padding: 10px;
}

select {
  border: none;
  border-radius: 15px;
  font-size: 15px